
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profileScreen-particles{
  position: absolute;
  height: 100vh;
}

#footer-particles{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1,
}

#app-particles{
  height: 100vh;
}

#aboutScreen-particles{
  height: 80px;
}



